/* All */
.page-header {
	background: #fff;
	margin: 0;
}
.block-search .nested {
	display: none;
}
.minicart-wrapper .action.showcart:before,
.minicart-wrapper .action.showcart.active:before {
	color: #9f1f1c;
	font-family: 'Material Icons';
	content: '\e8cc';
	font-weight: normal;
	font-style: normal;
	font-size: 30px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.minicart-wrapper .action.showcart .counter.qty {
    background: black;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 12px;
}
.top-container {
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
.top-container .ksps {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    text-align: center;
}
.top-container .ksps ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-container .ksps ul li {
	display: inline-block;
	margin: 0;
	font-size: 14px;
}
.top-container .ksps ul li a {
    display: block;
    position: relative;
    padding: 8px 30px;
}
.top-container .ksps ul li a .material-icons {
    position: absolute;
    top: 6px;
    left: 0;
    color: #7b7b7b;
}
.breadcrumbs {
	margin: 20px auto 0;
	text-transform: uppercase;
}
.page-main {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer.content {
	border: 0;
}
.page-footer {
	background: #231f20;
	color: #fff;
}
.page-footer a {
	color: #fff;
}
.page-footer .block.newsletter .title {
	display: block;
	margin: 0;
}
.copyright {
	background: black;
	color: #fff;
	text-align: center;
	padding: 5px;
}
/* Prices */
.product-item .price-box,
.product-info-main .price-box {
	margin: 10px 0;
	display: flex;
}
.product-info-main .price-box {
	margin: 15px 0 0;
}
.product-item .price-box .price-label,
.product-info-main .price-box .price-label {
	display: none;
}
.product-item .old-price,
.product-info-main .old-price {
	order: 1;
	color: #aaa;
}
.product-info-main .price-box .old-price .price-wrapper .price,
.product-options-bottom .price-box .old-price .price-wrapper .price {
	color: #aaa;
	font-weight: 400;
}
.product-info-main .price-box .price-wrapper .price,
.product-options-bottom .price-box .price-wrapper .price {
	font-size: 2.6rem;
}
.product-item .special-price, 
.product-info-main .special-price {
	order: 2;
	margin: 0 0 0 6px;
}
.product-item .price-box .price,
.minimal-price-link .price-wrapper {
	color: red;
	font-weight: 400;
}
.product-item .minimal-price-link .price-label {
	color: #9f1f1c;
}
/* PLP */
.toolbar-products {
	padding: 10px 0;
	margin-bottom: 0;
	border: 1px solid #ddd;
	border-width: 1px 0;
}
.page-products .products-grid .product-items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-flow: row;
    grid-gap: 20px;
}
.page-products.page-layout-1column .products-grid .product-item,
.page-products .products-grid .product-item {
	border: 1px solid #ddd;
	padding: 15px;
	width: auto;
	margin: 0;
	position: relative;
}
.page-products .products-grid .product-item .product-image-wrapper { 
	padding-bottom: 100%!important;
}
.page-products .products-grid .product-item .price-box .minimal-price-link {
	display: inline-block;
}
.products-grid .product-item-actions {
	margin: 0;
	font-size: 12px;
}
.products-grid .product-item-inner {
	display: none;
}
/* PDP */
.product-info-main .product.attribute.sku {
	font-size: 13px;
}
.product-info-main .action.primary.tocart {
	padding-left: 50px;
	padding-right: 50px;
}
.product-info-main .product-add-form {
	border: 1px solid #ddd;
	padding: 15px;
}
.product-info-main .box-tocart,
.product-options-bottom .box-tocart {
	margin-bottom: 0;
}
.product-info-main .box-tocart .field.qty,
.product-options-bottom .box-tocart .field.qty {
	display: table-cell;
}
.product-info-main .box-tocart .actions,
.product-options-bottom .box-tocart .actions {
    display: table-cell;
    padding-top: 25px;
    text-align: center;
    vertical-align: bottom;
}
.product-social-links {
	text-align: left;
}
.product-info-main .action.towishlist,
.product-options-bottom .action.towishlist,
.product-info-main .action.towishlist:hover,
.product-options-bottom .action.towishlist:hover {
	position: relative;
    background: transparent;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: 400;
    vertical-align: top;
}
.product-info-main .action.print-page span,
.product-info-main .action.towishlist span {
	display: none;
}
.product-info-main .action.print-page:before,
.product-info-main .action.towishlist:before {
	color: #9f1f1c;
	font-family: 'Material Icons';
	content: '\e87e';
	font-weight: normal;
	font-style: normal;
	font-size: 30px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.product-info-main .action.print-page:before {
	content: '\e8ad';
}
.product-info-main .action.towishlist:hover:before,
.product-info-main .action.print-page:hover:before {
	color: #333;
}
/* eof PDP */
/* Homepage */
#home-slider {
	/* temporary */
	width: 897px;
	height: 364px;
	overflow: hidden;
}
.products-grid.products-grid--max-5-col {
	list-style: none;
	padding: 0;
	margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-flow: row;
    grid-gap: 20px;
}
.products-grid.products-grid--max-5-col .product-info {
	margin: 0;
    padding: 10px;
    background: #888;
    color: #f8f8f8;
    font-size: 16px;
    text-align: center;
}
/* eof Homepage */
/* Mobile Only */
@media only screen and (max-width: 640px) {
	.page-products .products-grid .product-items {
	    grid-template-columns: 49% 49%;
	    grid-gap: 10px 2%;
	}
}
@media only screen and (max-width: 768px) {
	.page-header .header.panel .tel {
		display: none; /* gets cloned to store.links instead */
	}
	.nav-sections .tel {
		padding: 0.8rem 15px; /* matches header links */
	}
	.navigation .level0 > .level-top {
		text-transform: none;
		font-weight: 400;
	}
}
/* Desktop Only */
@media only screen and (min-width: 768px) {
	.minicart-wrapper {
		clear: right;
	}
	.header.content {
	    padding: 0 0 10px;
	}
	.logo {
	    margin: 20px 0 0;
	}
	.page-header .header.panel {
		float: right;
	}
	.page-header .header.panel .header.links > li a {
		color: #222;
	}
	.page-header .header.panel .tel {
		float: right;
		position: relative;
		padding: 0 10px 0 30px;
	}
	.page-header .header.panel .tel .material-icons {
	    position: absolute;
	    bottom: 2px;
	    left: 0;
	    font-size: 26px;
	}
	.page-header .header.panel .tel .prefix,
	.page-header .header.panel .tel .label {
		display: block;
	}
	.page-header .header.panel .tel .prefix {
		text-align: center;
	    font-size: 12px;
	    font-weight: bold;
	}
	.page-header .header.panel .tel .label a {
	    font-size: 22px;
	    line-height: 1;
	    font-weight: 500;
	}
	.block-search {
		width: 570px;
	}
	.block-search .control {
		padding-bottom: 0;
	}
	.block-search input {
		border: 1px solid #3c3a3a;
	    background: #f7f6f6;
	    background: -moz-linear-gradient(top, #f7f6f6 0%, #f7f6f6 50%, #cecece 100%);
	    background: -webkit-linear-gradient(top, #f7f6f6 0%,#f7f6f6 50%,#cecece 100%);
	    background: linear-gradient(to bottom, #f7f6f6 0%,#f7f6f6 50%,#cecece 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f6', endColorstr='#cecece',GradientType=0 );
	    height: 44px;
	    text-align: center;
	    font-weight: bold;
	}
	.block-search input::placeholder {
		color: #aaa;
	}
	.block-search input:focus,
	.block-search input[type="search"]:focus {
		outline: 1px solid black;
		outline-offset: -2px;
		box-shadow: none;
	}
	.block-search .action.search {
	    right: 5px;
	    bottom: 0;
	}
	.block-search .action.search:before {
	    font-size: 36px;
	    line-height: 30px;
	    color: #666;
	}
	.minicart-wrapper .action.showcart {
		background: #9f1f1c;
		height: 44px;
		padding: 0 10px;
	}
	.minicart-wrapper .action.showcart:before,
	.minicart-wrapper .action.showcart.active:before,
	.minicart-wrapper .action.showcart.active:hover:before,
	.minicart-wrapper .action.showcart:hover:before {
		color: #fff;
		line-height: 44px;
	}
	.nav-sections {
		background: #9f1f1c;
		margin: 0;
	}
	.navigation-toggle {
		max-width: 1280px;
		margin: 0 auto;
	}
	.navigation-toggle span {
		display: inline-block;
		background: #000;
		color:#fff;
		font-size: 18px;
		font-weight: bold;
		padding: 10px 15px;
		cursor: pointer;
	}
	.navigation-toggle span:hover {
		background: #333;
	}
	.navigation-toggle span:after {
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    font-size: 42px;
	    line-height: 20px;
	    color: inherit;
	    content: '\e622';
	    font-family: 'icons-blank-theme';
	    vertical-align: middle;
	    display: inline-block;
	    font-weight: normal;
	    overflow: hidden;
	    speak: none;
	    text-align: center;
	}
	.navigation-toggle.open span:after {
		content: '\e621';
	}
	.navigation-toggle + .navigation {
		display: none;
	}
	/* Coer Nav amends */
	/* We only have top level and these are displayed in a regular list which is toggled on desktop */
	.navigation > ul {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		max-width: 300px;
		background: #fff;
		border 1px solid #ddd;
		box-shadow: 0px 3px 5px rgb(0 0 0 / 15%);
		z-index: 800;
	}
	.navigation .level0 {
		display: list-item;
		border-bottom: 1px solid #ddd;
		margin: 0;
	}
	.navigation .level0 > .level-top {
		display: block;
	    color: #9f1f1c;
	    font-size: 14px;
	    font-weight: 400;
	    padding: 0 20px;
	    line-height: 30px;
	}
	.navigation .level0.active > .level-top,
	.navigation .level0.has-active > .level-top {
		border: 0;
		font-weight: bold;
		display: block;
	}
	.navigation .level0 > .level-top:hover {
		background: #f4f4f4;
	}
	.navigation-highlights {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.navigation-highlights li {
		display: inline-block;
		margin: 0;
	}
	.navigation-highlights li a {
		color: #fff;
		font-size: 1.6rem;
		font-weight: 500;
		display: block;
		padding: 11px 15px;
	}
	.navigation-highlights li a:hover {
		text-decoration: none;
		background: darkred;
	}
	.top-container {
		max-width: 100%;
	}
	.breadcrumbs {
		padding: 0;
	}
	.page-main {
		padding: 25px;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.page-main > .page-title-wrapper .page-title {
		margin-bottom: 15px;
	}
	/* PLP */
	.catalog-category-view .page-main {
		background: transparent;
		padding: 0;
	}
	.catalog-category-view .page-main > .page-title-wrapper .page-title { 
		font-size: 24px;
		text-transform: uppercase;
	}
	.category-view .category-image img {
		width: 100%;
	}
	.products-grid .product-item-inner {
		position: absolute;
		bottom: -40px;
		left: -1px;
		right: -1px;
		padding: 0 15px 15px;
		background: #fff;
		border: 1px solid #ddd;
		border-top: 0;
		box-shadow: 0px 5px 2px rgba(0,0,0,0.25);
	}
	.products-grid .product-item:hover .product-item-inner {
		display: block;
		z-index: 5;
	}
	/* eof PLP */
	/* PDP */
	.page-layout-1column .product.media,
	.page-layout-1column .product-info-main {
	    width: 48.5%;
	}
	.page-layout-1column .product.media {
		border: 1px solid #ddd;
	}
	.product-info-main .page-title-wrapper .page-title {
		margin: 0;
		font-size: 30px;
	}
	/* eof PDP */
	.page-footer .footer.content .links {
		max-width: 400px;
	}
	.page-footer .block.newsletter {
	    position: relative;
	    padding-right: 260px;
	    width: 530px;
	}
	.footer .block.newsletter:before {
	    content: '';
	    display: block;
	    width: 230px;
	    height: 100px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background: url(../images/logo_footer.png) top right no-repeat transparent;
	}
}