/* All */
.page-header {
	background: #fff;
}
.top-container {
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
.top-container .ksps {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    text-align: center;
}
.top-container .ksps ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-container .ksps ul li {
	display: inline-block;
}
.top-container .ksps ul li a {
    display: block;
    position: relative;
    padding: 8px 30px;
}
.top-container .ksps ul li a .material-icons {
    position: absolute;
    top: 6px;
    left: 0;
    color: #7b7b7b;
}
.page-main {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer.content {
	border: 0;
}
.page-footer {
	background: #231f20;
	color: #fff;
}
.page-footer a {
	color: #fff;
}
.page-footer .block.newsletter .title {
	display: block;
	margin: 0;
}
.copyright {
	background: black;
	color: #fff;
	text-align: center;
	padding: 5px;
}
/* Mobile Only */
@media only screen and (max-width: 768px) {

}
/* Desktop Only */
@media only screen and (min-width: 768px) {
	.nav-sections {
		background: #9f1f1c;
		min-height: 10px;
	}
	.top-container {
		max-width: 100%;
	}
	.page-footer .footer.content .links {
		max-width: 400px;
	}
	.page-footer .block.newsletter {
	    position: relative;
	    padding-right: 260px;
	    width: 530px;
	}
	.footer .block.newsletter:before {
	    content: '';
	    display: block;
	    width: 230px;
	    height: 100px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background: url(../images/logo_footer.png) top right no-repeat transparent;
	}
}